.item1 {
  grid-column: 1 / 5;
  margin-top: 10px;
}
img {
  position: relative;
  border-radius: 50%;
  margin-right: 10%;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200px;
  position:relative; 
  left:150px;
  text-align: center;
}
button {
  background-color: #e07543;  
  margin-top: 10px;
  margin-right: 10%;
  margin-bottom: 100px;
  margin-left: 50px;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: white ;
  display: inline-block;
  font-size: 14x;
  right: 70%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#search-input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #e07543;
  font-size: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-top: 30px;
  width: 500px;
  left:50%;
top:5%;

  }
#myurl
{
color: green;
font-size: 20px;
font-weight: 200;

}
#pargraph
{
color: rgb(169, 172, 169);
font-size: 20px;
font-weight: 200;

}
#url
{
font-size: 30px;
}