<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="ResultsPage.css">
</head>

<body>
    <div class="container">
        <div class="item">

            <img src="logo.png" alt="Magico">
            <input type="input" id="search-input" autocomplete="off" placeholder="Type word to Search ...." />
            <button type="button">Search</button>

        </div>

        <ul>
            <% Documents.URLS.forEach(function(element){ %>
                    <li>
                        <a id="url" href=<%- element.URL %>>
                            <%- element.title %>
                        </a>
                        <p id="myurl" ><%- element.URL %></p>
                        <p id="pargraph" ><%- element.URL %></p>

                        

                    </li>
            <%});%>
        </ul>

    </div>

</body>

</html>