<body>
    <ul>
        <% Documents.forEach(function(doc){ %>
            <li>
             <a href=<%- doc.URL %>>
                <%- doc.title %>  
             </a>   
             
            </li>
            <%});%>
    </ul>
</body>